.header-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: lightgreen;
    color: #000;
    position: relative;
    width: 100%;
    padding: 1rem 0;
}

.header-bar .icon-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.header-bar .icon-container.left-icon {
    justify-content: flex-start;
}

.header-bar .icon-container.right-icon {
    justify-content: flex-end;
    gap: 20px;
}

.header-bar .transparent-button {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    min-width: auto;
    width: auto;
    height: auto;
    cursor: pointer;
}

.header-bar .transparent-button .mat-ripple {
    display: none !important;
}

.header-bar .transparent-button mat-icon {
    font-size: 28px;
    width: 28px;
    height: 28px;
    color: #000;
    transition: color 0.3s ease;
}

.header-bar .transparent-button mat-icon:hover {
    color: #333;
    transition: color 0.3s ease;
    transform: scale(1.2);
}

.header-bar .title {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    grid-column: 2;
}
.notifications-popup {
  position: absolute;
  /* top: 100%; */
  right: 1rem; 
  background-color: #d3d3d3;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}
