.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.form-row {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.form-actions {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  align-items: center;
}
table {
  width: 100%;
  margin-top: 1.5rem;

}
th {
    text-align: center;
}

:host ::ng-deep table {
  table-layout: auto;  
}


:host ::ng-deep .mat-column-acciones,
:host ::ng-deep .mat-header-cell.mat-column-acciones,
:host ::ng-deep .mat-cell.mat-column-acciones {
  min-width: 100px;    
  white-space: nowrap; 
  overflow: visible;   
}


:host ::ng-deep .mat-cell.mat-column-acciones {
  text-align: center;
}
