<header
    style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-around; gap: 10px; background-color: lightgreen;">
    <img src="/assets/logo_cer.png" alt="" style="width: 50px;">
    <h3>Comercios afiliados</h3>
    <input type="text" name="buscar" id="" placeholder="Buscar...">
</header>
<table style="width: 100%; border-collapse: collapse; margin-top: 20px;" class="table-striped">
    <tbody>
        <tr>
            <td><img src="/assets/logos/flexi.jpg" alt="" style="height: 50px;"></td>
            <td>Flexi</td>
            <td><button><mat-icon>visibility</mat-icon></button></td>
        </tr>
        <!--  -->
        <!-- <tr>
            <td><img src="/assets/logos/saluddigna.png" alt="" style="height: 50px;"></td>
            <td>Salud Digna</td>
            <td><button><mat-icon>visibility</mat-icon></button></td>
        </tr>

        <tr>
            <td><img src="/assets/logos/sukarne.jpg" alt="" style="height: 50px;"></td>
            <td>SuKarne</td>
            <td><button><mat-icon>visibility</mat-icon></button></td>
        </tr> -->
    </tbody>
</table>