<header
    style="width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-around; gap: 10px; background-color: lightgreen; min-height: 100px;">
    <img src="/assets/logo_cer.png" alt="Logo CER" style="width: 50px;">
    <h3>Restaurantes afiliados</h3>
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChange($event)" placeholder="Buscar..."
        matInput />

</header>
<p *ngIf="noResults" class="no-results">No se encontraron resultados.</p>

<table style="width: 100%; border-collapse: collapse; margin-top: 20px;" class="table-striped">
    <tbody>
        <tr *ngFor="let restaurante of restaurantes">
            <td>
                <img [src]="environment.backendUrl + '/documentos/' + restaurante.id + '/logoPng'"
                    alt="{{ restaurante.nombreComercial }}" style="height: 50px;">
            </td>
            <td>{{ restaurante.nombreComercial }}</td>
            <td>
                <button type="button" mat-raised-button color="primary" (click)="viewRestaurante(restaurante.id)">
                    <mat-icon>visibility</mat-icon>Ver detalles
                </button>
            </td>
        </tr>
    </tbody>
</table>