<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header class="login-header">
        <img src="/assets/logo_cer.png" alt="Logo" class="logo">
      </mat-card-header>
      
      <mat-card-content>
        <form class="login-form">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Ingrese su usuario">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Ingrese su contraseña">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
  
      <mat-card-actions class="login-actions">
        <button mat-raised-button color="primary" class="login-button" routerLink="/main">
          INICIAR SESIÓN
        </button>
      </mat-card-actions>
    </mat-card>
  </div>