<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <img src="/assets/logo_cer.png" alt="Logo" class="logo">
    </mat-card-header>

    <mat-card-content>
      <form class="login-form" #loginForm="ngForm" (ngSubmit)="login()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="Ingrese su correo electrónico" [(ngModel)]="correo" name="correo" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" placeholder="Ingrese su contraseña" [(ngModel)]="contrasena" name="contrasena"
            required>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-card-actions class="login-actions">
          <button mat-raised-button color="primary" class="login-button" type="submit"
            [disabled]="!correo || !contrasena">
            INICIAR SESIÓN
          </button>
        </mat-card-actions>
      </form>

    </mat-card-content>



  </mat-card>
</div>