<!-- afiliacion.component.html -->
<app-header></app-header>
<div style="min-height: 90vh; align-content: center;">
    <div class="form-container">
        <h1>Registro de afiliación</h1>

        <form [formGroup]="afiliacionForm" (ngSubmit)="onSubmit()" class="form-content">
            <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                <!-- Tab 1 -->
                <mat-tab label="Datos generales">
                    <mat-card>
                        <mat-card-content>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Razón social</mat-label>
                                <input matInput formControlName="razonSocial" required>
                                <mat-error
                                    *ngIf="afiliacionForm.get('razonSocial')?.hasError('required') && isControlInvalid('razonSocial')">
                                    Este campo es obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Nombre comercial</mat-label>
                                <input matInput formControlName="nombreComercial">
                            </mat-form-field>
                            <!-- GIRO -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Giro</mat-label>
                                <mat-select formControlName="giro" (selectionChange)="onGiroChange($event.value)">
                                    <mat-option *ngFor="let giro of giros" [value]="giro">{{ giro.name }}</mat-option>

                                </mat-select>
                            </mat-form-field>

                            <!-- SUBGIRO -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Subgiro</mat-label>
                                <mat-select formControlName="subgiro" [disabled]="!subgiros.length">
                                    <mat-option *ngFor="let sub of subgiros" [value]="sub">{{ sub.name }}</mat-option>
                                    <mat-divider></mat-divider>
                                    <mat-option class="add-subgiro" (click)="addSubgiro()">
                                        <mat-icon>add</mat-icon> Agregar subgiro…
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </mat-card-content>
                    </mat-card>

                </mat-tab>

                <!-- Tab 2 -->
                <mat-tab label="Giro y contacto">
                    <mat-card>
                        <mat-card-content>







                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Página Web (opcional)</mat-label>
                                <input matInput formControlName="paginaWeb" type="url">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Facebook (opcional)</mat-label>
                                <input matInput formControlName="facebook">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Google Maps (opcional)</mat-label>
                                <input matInput formControlName="googleMaps">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Instagram (opcional)</mat-label>
                                <input matInput formControlName="instagram">
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>
                <mat-tab label="Propiedad">
                    <mat-card>
                        <mat-card-content>

                            <!-- Título sección Propietario -->
                            <h3 class="section-header">Propietario</h3>

                            <!-- Propietario: 4 campos -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Nombre del propietario</mat-label>
                                <input matInput formControlName="nombrePropietario">
                                <mat-error *ngIf="isControlInvalid('nombrePropietario')">
                                    Nombre del propietario es obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Teléfono del propietario</mat-label>
                                <input matInput formControlName="telefonoPropietario">
                                <mat-error *ngIf="isControlInvalid('telefonoPropietario')">
                                    Teléfono del propietario es obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Email del propietario</mat-label>
                                <input matInput type="email" formControlName="emailPropietario">
                                <mat-error *ngIf="isControlInvalid('emailPropietario')">
                                    Email inválido o obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de nacimiento del propietario</mat-label>
                                <input matInput [matDatepicker]="pickerNacimientoProp"
                                    formControlName="fechaNacimientoPropietario">
                                <mat-datepicker-toggle matSuffix [for]="pickerNacimientoProp"></mat-datepicker-toggle>
                                <mat-datepicker #pickerNacimientoProp></mat-datepicker>
                                <mat-error *ngIf="isControlInvalid('fechaNacimientoPropietario')">
                                    Fecha de nacimiento es obligatoria
                                </mat-error>
                            </mat-form-field>

                            <!-- Divider -->
                            <mat-divider class="section-divider"></mat-divider>

                            <!-- Título sección Gerente -->
                            <h3 class="section-header">Gerente</h3>

                            <!-- Gerente: otros campos -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Nombre del gerente</mat-label>
                                <input matInput formControlName="nombreGerente">
                                <mat-error *ngIf="isControlInvalid('nombreGerente')">
                                    Nombre del gerente es obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Teléfono del gerente</mat-label>
                                <input matInput formControlName="telefonoGerente">
                                <mat-error *ngIf="isControlInvalid('telefonoGerente')">
                                    Teléfono de gerente es obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Email del gerente</mat-label>
                                <input matInput type="email" formControlName="emailGerente">
                                <mat-error *ngIf="isControlInvalid('emailGerente')">
                                    Email inválido o obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de nacimiento del gerente</mat-label>
                                <input matInput [matDatepicker]="pickerNacimientoGer"
                                    formControlName="fechaNacimientoGerente">
                                <mat-datepicker-toggle matSuffix [for]="pickerNacimientoGer"></mat-datepicker-toggle>
                                <mat-datepicker #pickerNacimientoGer></mat-datepicker>
                                <mat-error *ngIf="isControlInvalid('fechaNacimientoGerente')">
                                    Fecha de nacimiento del gerente es obligatoria
                                </mat-error>
                            </mat-form-field>

                        </mat-card-content>

                    </mat-card>
                </mat-tab>

                <!-- Tab 3 -->
                <mat-tab label="Datos fiscales">
                    <mat-card>
                        <mat-card-content>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Domicilio Fiscal</mat-label>
                                <input matInput formControlName="domicilioFiscal">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Domicilio sucursal</mat-label>
                                <input matInput formControlName="domicilioSucursal">
                                <mat-error
                                    *ngIf="afiliacionForm.get('domicilioSucursal')?.hasError('required') && isControlInvalid('domicilioSucursal')">
                                    Este campo es obligatorio
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Código postal</mat-label>
                                <input matInput formControlName="codigoPostal">
                                <mat-error
                                    *ngIf="afiliacionForm.get('codigoPostal')?.hasError('required') && isControlInvalid('domicilioSucursal')">
                                    Este campo es obligatorio
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>RFC</mat-label>
                                <input matInput formControlName="rfc">
                                <mat-error
                                    *ngIf="afiliacionForm.get('rfc')?.hasError('required') && isControlInvalid('rfc')">
                                    RFC es obligatorio
                                </mat-error>
                                <mat-error
                                    *ngIf="afiliacionForm.get('rfc')?.hasError('pattern') && isControlInvalid('rfc')">
                                    Formato de RFC inválido
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Teléfono oficina</mat-label>
                                <input matInput formControlName="telefonoOficina">
                            </mat-form-field>
                            <!--  -->

                            <!--  -->
                        </mat-card-content>
                    </mat-card>
                </mat-tab>

                <mat-tab label="Fechas">
                    <mat-card>
                        <mat-card-content>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de alta (automática)</mat-label>
                                <input matInput
                                    [value]="afiliacionForm.get('fechaAlta')!.value | date:'dd/MM/yyyy':'':'es-MX'"
                                    disabled>
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error
                                    *ngIf="afiliacionForm.get('fechaNacimiento')?.hasError('required') && isControlInvalid('fechaNacimiento')">
                                    Fecha de nacimiento es obligatoria
                                </mat-error>
                            </mat-form-field> -->
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de afiliación</mat-label>
                                <input matInput [matDatepicker]="pickerAfiliacion" formControlName="fechaAfiliacion">
                                <mat-datepicker-toggle matSuffix [for]="pickerAfiliacion"></mat-datepicker-toggle>
                                <mat-datepicker #pickerAfiliacion></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de vencimiento</mat-label>
                                <input matInput [matDatepicker]="pickerVencimiento" formControlName="fechaVencimiento">
                                <mat-datepicker-toggle matSuffix [for]="pickerVencimiento"></mat-datepicker-toggle>
                                <mat-datepicker #pickerVencimiento></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Póliza</mat-label>
                                <input matInput formControlName="poliza">
                                <mat-error
                                    *ngIf="afiliacionForm.get('poliza')?.hasError('required') && isControlInvalid('poliza')">
                                    Póliza es obligatoria
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Póliza (ubicación)</mat-label>
                                <input matInput formControlName="polizaUbicacion">
                                <mat-error
                                    *ngIf="afiliacionForm.get('polizaUbicacion')?.hasError('required') && isControlInvalid('polizaUbicacion')">
                                    Póliza (ubicación) es obligatoria
                                </mat-error>
                            </mat-form-field>

                        </mat-card-content>
                    </mat-card>
                </mat-tab>

                <!-- Tab 4 -->
                <mat-tab label="Documentos">
                    <mat-card>
                        <mat-card-content>
                            <div class="file-upload-section" *ngFor="let doc of documentos">
                                <h3>{{ doc.label }}</h3>

                                <!-- Un único input, siempre en el mismo DOM que el botón -->
                                <input #fileInput type="file" hidden [attr.accept]="
            doc.name === 'logoPng'
              ? 'image/png'
              : doc.name === 'logoPdf'
                ? 'application/pdf'
                : 'image/*,application/pdf'
          " (change)="onFileSelected($event, doc.name)" />

                                <!-- Botón Material disparando always fileInput.click() -->
                                <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
                                    <mat-icon style="margin-right: 4px;">upload</mat-icon>
                                    Subir Archivo
                                </button>

                                <!-- Nombre del archivo escogido -->
                                <span *ngIf="afiliacionForm.get(doc.name)?.value" class="archivo-nombre">
                                    {{ afiliacionForm.get(doc.name)?.value.name }}
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-tab>


            </mat-tab-group>

            <div class="submit-section">
                <button mat-raised-button type="button" (click)="prevTab()"
                    *ngIf="selectedTabIndex > 0">Anterior</button>
                <button mat-raised-button type="button" color="primary" (click)="nextTab()"
                    *ngIf="selectedTabIndex < maxTabIndex">Siguiente</button>
                <button mat-raised-button color="accent" type="submit" *ngIf="selectedTabIndex === maxTabIndex"
                    [disabled]="!afiliacionForm.valid">
                    Enviar solicitud
                </button>
            </div>
        </form>
    </div>
</div>