<app-header></app-header>
<div class="afiliado-container">
    <div class="formulario">
        <mat-card>
            <mat-card-title>Mis datos</mat-card-title>
            <mat-card-content>
                <form>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Razón social</mat-label>
                        <input matInput [(ngModel)]="misDatos.razonSocial" name="razonSocial">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Nombre comercial</mat-label>
                        <input matInput [(ngModel)]="misDatos.nombreComercial" name="nombreComercial">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="misDatos.email" name="email">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="misDatos.fechaNacimiento"
                            name="fechaNacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="guardarCambios()">Guardar Cambios</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- DERECHA: Documentos -->
    <div class="documentos">
        <mat-card>
            <mat-card-title>Documentos</mat-card-title>
            <mat-card-content>
                <div *ngFor="let doc of documentos" class="doc-item">
                    <p><strong>{{ doc.label }}</strong></p>

                    <button mat-button color="accent" (click)="verDocumento(doc)">Ver</button>

                    <input type="file" #fileInput hidden (change)="onFileChange($event, doc.key)">

                    <button mat-stroked-button color="primary" type="button" (click)="fileInput.click()">
                        <mat-icon style="margin-right: 6px;">upload</mat-icon>
                        Subir archivo
                    </button>

                    <p *ngIf="doc.file" class="archivo-nombre">
                        Archivo seleccionado: {{ doc.file.name }}
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>