<app-header></app-header>
<div class="afiliados-container">

    <div id="cartas">
        <div class="cards-container">
            <mat-card class="affiliate-card" routerLink="/comercios">
                <div class="image-container">
                    <img mat-card-image src="/assets/comercios.png" alt="Comercios" loading="eager">
                </div>
                <mat-card-content>
                    <h2>COMERCIOS</h2>
                </mat-card-content>
            </mat-card>

            <div class="logo-container">
                <img src="/assets/logo_cer.png" alt="Logo CER" class="logo-img" loading="eager">
            </div>

            <mat-card class="affiliate-card" routerLink="/restaurantes">
                <div class="image-container">
                    <img mat-card-image src="/assets/restaurantes.png" alt="Restaurantes" loading="eager">
                </div>
                <mat-card-content>
                    <h2>RESTAURANTES</h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>